@model ManagementSystem.Models.tb_batches

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <h6 class="m-0 font-weight-bold text-primary">Padam Batch</h6>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <h6 text-align="center">Butiran Maklumat</h6>

                <hr>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    <div class="form-actions no-color">
                        <input type="submit" value="Padam" class="btn btn-danger" /> |
                        <button class="btn btn-outline-primary">
                            @Html.ActionLink("Kembali ke Utama", "Index", new { style = "color: white" })
                        </button>
                    </div>
                }
            </div>
        </div>

    </div>
</div>