@model ManagementSystem.Models.tb_user
<!DOCTYPE html>
<html lang="en">


@{
    Layout = "";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log Masuk</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<!DOCTYPE html>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->

                        <div class="row">
                            <div class="col-lg-6">
                                <img src="~/Content/system-white.png" width="500" height="350" class="center" />
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-outline-primary ">@Html.ActionLink("Kembali", "Index", "Login") </button>
                                <div class="p-5">

                                    <div class="text-center">
                                        <br>
                                        <br>
                                        <h4 class="h4 text-gray-900 mb-4">Sistem Pengurusan Mengaji</h4>
                                        <h4 class="h4 text-gray-900 mb-5">Lupa Kata Laluan?</h4>

                                    </div>
                                    @using (Html.BeginForm("Forgot", "Login", FormMethod.Post))
                                    {
                                <table>
                                    <tr>
                                        <td></td>

                                    </tr>
                                    <p>Sila masukkan emel yang sudah didaftar di dalam sistem ini.</p>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.Email)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.Email)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>

                                            <input onclick="alert('Emel sudah dihantar. Sila semak emel anda.')" type="submit" class="btn btn-success" name="name" value="Hantar" />


                                        </td>
                                    </tr>



                                </table>
                                    }


                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>




    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

</body>

</html>